<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>
<body class="container-fluid">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="jumbotron-inner">
      <i class="zmdi zmdi-local-pizza zmdi-hc-5x"></i><br><br>
      <h2>Sign Up</h2>
    </div>
  </div>

  <div class="form">
    <form action="">
      
      <div class="form-group">
        <label for="formFullname">Full Name</label>
        <p class="glyph1"><span class="glyphicon glyphicon-user"></span></p>
        <input type="text" class="form-control" id="formFullname"><br>
        <!-- <div class="row">
          <div class="col col-xs-10">
            <input type="text" class="form-control" id="formFullname">
          </div>
          <div class="col col-xs-2">
            <span class="glyphicon glyphicon-user"></span><br>
          </div>
        </div> -->
      </div>
      

      <div class="form-group">
        <label for="formEmail">E-mail</label>
        <p class="glyph1"><span class="glyphicon glyphicon-envelope"></span></p>
        <input type="email" class="form-control" id="formEmail"><br>
      </div>
          
      <div class="form-group">
        <label for="formPassword">Password</label>
        <p class="glyph1"><span class="glyphicon glyphicon-eye-open"></span></p>
        <input type="password" class="form-control" id="formPassword"><br>
      </div>

    </form>
  </div>

  <div class="buttons text-center">
    <button class="btn btn1 btn-lg" routerLink="/resultspage"><a>Sign Up</a></button><br><br>
    <button class="btn btn2 btn-lg">Sign Up With <span style="font-weight: 500">Facebook</span></button><br><br>
    <p>Already have an account? <a href="#"><span style="color: cornflowerblue">Sign in</span></a></p>
  </div>
    
  <!-- <button class="btn btn-lg btn-success">Hello</button> -->
</body>