<body class="container-fluid">
  <nav class="nav-bar">
    <a routerLink="/"><span class="zmdi zmdi-chevron-left zmdi-hc-5x"></span></a>
    <h2>Flights Results</h2>
  </nav>

  <div class="bluebg">
    <div class="panel">

      <div class="panelinner">
        <div class="row">
          <div class="col col-xs-4"><span class="glyphicon glyphicon-map-marker"></span> Dubai, UAE</div>
          <div class="col col-xs-4"><span class="glyphicon glyphicon-calendar"></span> Mar, 7, 2017</div>
          <div class="col col-xs-4"><span class="glyphicon glyphicon-user"></span> 1 Passenger</div>
        </div>
        <div class="row">
          <div class="col col-xs-4"><span class="glyphicon glyphicon-glass"></span> First Class</div>
          <div class="col col-xs-4"><span class="glyphicon glyphicon-credit-card"></span> $800</div>
          <div class="col col-xs-4"><button class="btn btn-lg">Edit Search</button></div>
        </div>
      </div>
     
    </div>
  </div>

  <div class="results">
    <div class="row">
      <div class="img-sect">
          <img class="img img-responsive" src="assets/images/img1.png" alt="image 1">
      </div>
      <div class="text-sect">
        <p style="font-size: 13px; letter-spacing: 10px; color: gold;"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span></p><br>
        <p style="font-size: 30px; color: dodgerblue; float: right; margin-top: -50px;"><span class="glyphicon glyphicon-heart-empty"></span></p><br>
        <p style="color: dodgerblue; font-size: 14px; letter-spacing: 1px;">Jumeirah Creekside Hotel</p>
        <p style="font-size: 13px; color: gray; letter-spacing: 1px;">Garhoud, Dubai</p>
        <p style="float: right; font-size: 20px; color: gray; letter-spacing: 1px; position: absolute; right: 7px; bottom: -10px;">$800.00</p>
      </div>
    </div>

    <div class="row">
      <div class="img-sect">
        <img class="img img-responsive" src="assets/images/img2.png" alt="image 2">
      </div>
      <div class="text-sect">
        <p style="font-size: 13px; letter-spacing: 10px; color: gold;"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span></p><br>
        <p style="font-size: 30px; color: dodgerblue; float: right; margin-top: -50px;"><span class="glyphicon glyphicon-heart-empty"></span></p>
        <p style="color: dodgerblue; font-size: 14px; letter-spacing: 1px;">Dusit Thani Dubai</p>
        <p style="font-size: 13px; color: gray; letter-spacing: 1px;">Trade Center, Dubai</p>
        <p style="float: right; font-size: 20px; color: gray; letter-spacing: 1px; position: absolute; right: 7px; bottom: -10px;">$750.00</p>
      </div>
    </div>

    <div class="row">
      <div class="img-sect">
        <img class="img img-responsive" src="assets/images/img3.png" alt="image 3">
      </div>
      <div class="text-sect">
        <p style="font-size: 13px; letter-spacing: 10px; color: gold;"><span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star-empty"></span></p><br>
        <p style="font-size: 30px; color: dodgerblue; float: right; margin-top: -50px;"><span class="glyphicon glyphicon-heart-empty"></span></p>
        <p style="color: dodgerblue; font-size: 14px; letter-spacing: 1px;">City Premiere Hotel Apartments</p>
        <p style="font-size: 13px; color: gray; letter-spacing: 1px;">Metro Access, Dubai</p>
        <p style="float: right; font-size: 20px; color: gray; letter-spacing: 1px; position: absolute; right: 7px; bottom: -10px;">$700.00</p>
      </div>
    </div>

  </div>

  <div class="container-fluid">
    <footer class="row">
      <div class="col col-xs-3 text-center">
        <span class="glyphicon glyphicon-home"></span><br>
        <p style="font-size: 12px;">Home</p>
      </div>
      <div class="col col-xs- text-center">
        <span class="glyphicon glyphicon-briefcase"></span><br>
        <p style="font-size: 12px;">Tours</p>
      </div>
      <div class="col col-xs-3 text-center">
        <span class="glyphicon glyphicon-search"></span><br>
        <p style="font-size: 12px;">Explore</p>
      </div>
      <div class="col col-xs-3 text-center">
        <span class="glyphicon glyphicon-user"></span><br>
        <p style="font-size: 12px;">Profile</p>
      </div>
      
    </footer>
  </div>
</body>